.bod{
    width: 852;
    height: 402;
    padding-left: 294px;
    background-color: aliceblue;
}

.text-full{
    font-size: 64px;
    font-weight: 600;
    line-height: 64px;
    display: flex;
}

.contact{
  color: black;
  padding-left: 258px;
}
.us{
   color: #5BD6A5;
   padding-left: 25px;
}

.para{
    color:  #0A0F0D80;
    padding-left: 190px;
    padding-top: 30px;
   
}
.pp{
     font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}
.rounded-text-field {
    border: none;
    border-radius: 10px; /* Adjust the radius as needed */
    padding: 10px; /* Optional: Add padding for spacing */
    background-color: #dfdfdf;
    width: 400px;
    height: 50px;
  }

.pop{
    color: black;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
}
.top-con{
    display: flex;
    padding-top: 5px;

}
.top-con-left{
   flex-basis: 35%;
}
.top-con-right{
    flex-basis: 50%;
}

.butt-1{
    width: 137px;
    height: 56px;
    border-radius: 12px;
    background-color: #0932D8;
    color: #dce0ef;
    font-size: 16px;
    line-height: 19.36px;
   margin-top: 20px;

}
.rounded-text-field-lost{
    border: none;
    border-radius: 10px; /* Adjust the radius as needed */
    padding: 10px; /* Optional: Add padding for spacing */
    background-color: #d3d3d3;
    width: 830px;
    height: 0px;
    padding-bottom: 150px;

}

.butt{
    padding-left: 350px;
  
}